#nav-bar {
    background-color: #0d3b1f;
}

#rodape {
    background-color: #0d3b1f;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    background-color: rgb(66, 110, 0);
    border-radius: 5px;
}

.navbar-toggler {
  padding: 15px 20px;
}

.navbar-toggler-icon {
  width: 2rem;
  height: 2rem;
}
.offcanvas {
  background-color: #0d3b1f; 
}
.offcanvas-header {
  background-color: #00290f;
  color: white;
}
.navbar-toggler {
  padding: 12px 16px; 
}
.navbar-toggler-icon {
  width: 2.5rem;
  height: 2.5rem;
}
