/* body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

h1,h2,h3 {
    color:rgb(87, 11, 103);
    border-bottom: dotted 2px rgb(87, 11, 103);
}

input, textarea, select {
    background-color: lightyellow;
    border: white;
    color:black;
    margin:5px;
    padding: 5px;
}

.btnNormal{
    width:100px;
    border: solid white 2px;
    background-color: black;
    color: white;
    padding:10px;
    border-radius: 5px;
} */

